.Rproj.user
.Rhistory
.RData
.Ruserdata
packrat/lib*/
.build.sh
.Rprofile
DESCRIPTION

_book/additional-references-and-learnig-resources\.html

_book/developing-analyses-with-hakai-institute\.html

_book/guide-for-the-new-r-analysis-developer-1\.html

_book/Icon

*.Rproj

_book/data-analysts-toolbox-1\.html
